.site-header {
  .site-title {
    float: left;
  }

  .site-nav {
    float: right;
    margin-top: 1.5rem;
    a {
      color: #666;
      font-size: 1.2rem;
    }
  }
}

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}
